*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Oswald', sans-serif;
}
body{
    height: 800px;
}
.header{
    width: 100%;
    height: 60px;
    background-color: black;
    overflow: auto; 
    padding-left: 20px;
    margin-bottom: 50px;
}

.logo{
    width: 300px;
    height: 80%;
    font-size: 35px;
    margin-top: 10px;
    float: left;
    color:#F6F1F1;
    font-family: 'Bebas Neue', sans-serif;
    overflow: hidden;
}
.logo span{
    color: #22A39F;
    font-family: 'Bebas Neue', sans-serif;
}

.header-links{
    float: right;
    text-decoration: none;
    list-style: none;
    margin-right: 100px;
}
.header-links li{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    margin-bottom: 5px;
}
.header-links li a{
    text-decoration: none;
    color:#F6F1F1;
}
.header-links li a:hover{
    cursor: pointer;
    text-decoration: underline #22A39F;
}
.header-home{
    text-decoration: underline #22A39F;
}
.icon-1:hover{
    text-decoration: underline #22A39F;
}
.list li{
    display: inline-block;
    width: 20%;
    margin-left: 20px;
}
.list li img{
    width: 100%;
    height: 300px;
}
.container{
    width: 80%;
    margin: auto;
}